mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #13338d; // default Angular Material primary
  color: white;
}

.logout-btn {
    background-color: rgb(231, 104, 72);
    color: #13338d;
}